<section data-ng-controller="FunctionariesController" data-ng-init="findOne()">
	<div class="page-header">
		<h3 data-ng-bind="functionary.name"></h3>
	</div>
	<h2>{{functionary.firstName}} {{functionary.firstSurname}} {{functionary.secondSurname}}</h2>
	<h3>{{'Funcionario: '+ functionary.role}}</h3>
	<h4>{{functionary.status}}</h4>
	<div class="pull-right" data-ng-show="((authentication.user))">
		<a class="btn btn-primary" href="/#!/functionaries/{{functionary._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

	<div class="row">

		<div class="col-md-4">
			<br/>
			<br/>
			<h4>
				<h4 class="list-group-item-heading">{{'Cédula: '+functionary.identification}}</h4>
				<h4 class="list-group-item-heading">{{'Fecha de nacimiento:' + (functionary.birthdate | date:'shortDate')}}</h4>
				<h4 class="list-group-item-heading">{{'Teléfono: '+functionary.phoneNumber}}</h4>
				<h4 class="list-group-item-heading">{{'Celular: '+functionary.cellphoneNumber}}</h4>
				<h4 class="list-group-item-heading">{{'Correo: '+functionary.email}}</h4>
			</h4>
		</div>

		<div class="col-md-4">
			<br/>
			<br/>
			<h4>
				<h4 class="list-group-item-heading">{{'Estado civil: '+functionary.maritalStatus}}</h4>
				<h4 class="list-group-item-heading">{{'Direccion: '+functionary.address}}</h4>
			</h4>
		</div>

	</div>
	<br/>
	<div class="container">
		<div data-ng-repeat="education in educations">
			<div class="container">
				<div class="jumbotron container-border">
					<span class="pull-right">
						<button class="btn btn-default" ng-click="remove($event, education);">
							<i class="glyphicon glyphicon-trash"></i>
						</button>
					</span>
					<h4>
						<h4 class="list-group-item-heading">{{'Universidad: ' + education.schoolName}}</h4>
						<h4 class="list-group-item-heading">{{'Grado: ' + education.degree}}</h4>
						<h4 class="list-group-item-heading">{{'Descripción: ' + education.description}}</h4>
						<h4 class="list-group-item-heading">{{'Fecha: ' + education.attendedStartDate + ' - ' + education.attendedEndDate}}</h4>
					</h4>

				</div>
			</div>
		</div>
		<div class="form-group">
			<button ng-click="modalAddEducation('lg', functionary)" class="btn btn-primary align-field"> Agregar educación</button>
		</div>
		<div ng-controller="FunctionaryResumeExperiencesController" data-ng-init="findByFunctionary(functionary)">
			<div ng-repeat="xp in functionaryExperiences" >
				<div class="container">
					<div class="container-border no-padding">
						<a class="list-group-item">
							<div>
								<span class="pull-right">
									<button class="btn btn-default" ng-click="remove(xp);">
										<i class="glyphicon glyphicon-trash"></i>
									</button>
								</span>
								<div ng-click="modalUpdateWorkExperience('lg', xp, functionaryExperiences)">
									<h4>
										<h4 class="list-group-item-heading">{{'Compañia: ' + xp.companyName}}</h4>
										<h4 class="list-group-item-heading">{{'Ubicación de la compañia: ' + xp.companyLocation}}</h4>
										<h4 class="list-group-item-heading">{{'Rol: ' + xp.functionaryTitle}}</h4>
										<h4 class="list-group-item-heading">{{'Fecha: ' + xp.attendedStartDate + ' - ' + xp.attendedEndDate}}</h4>
									</h4>
								</div>
							</div>
						</a>
					</div>
				</div>
				<br>
			</div>
			<div class="form-group">
				<button ng-click="modalAddWorkExperience('lg', functionary, functionaryExperiences)" class="btn btn-primary align-field"> Agregar experiencia</button>
			</div>
		</div>
	</div>





</section>
